{% extends 'base.html' %}
{% block body %}


<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="'card" style="width: 15rem;">
  <img src="{{i.img.url}}" class="card-img-top" alt="Card image cap" width="3px" height="350px;" >
  <div class="card-body">
      <B><h5 class="card-title">{{i.Name}}</h5></B>
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">click here</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}

